<section>
  <footer>
    <button (click)="play(htmlAudioElement)" aria-label="Play or pause" mat-icon-button>
      @if (isPlaying()) {
        <mat-icon>play_arrow</mat-icon>
      } @else {
        <mat-icon>pause</mat-icon>
      }
    </button>
    <div>
      <p>{{ +timestamp.value|timestamp }}</p>
      <mat-slider [max]="lastTimeStamp">
        <input matSliderThumb #timestamp>
      </mat-slider>
      <p>{{ lastTimeStamp|timestamp }}</p>
    </div>
    <div>
      <button aria-label="Mute or unmute"
              mat-icon-button
      (click)="mute(htmlAudioElement)"
      [color]="htmlAudioElement.muted? 'accent': 'primary'">
        @if (volume.value === "0") {
          <mat-icon>volume_off</mat-icon>
        } @else if (+volume.value > 0 && +volume.value <= 33) {
          <mat-icon>volume_mute</mat-icon>
        } @else if (+volume.value > 33 && +volume.value <= 66) {
          <mat-icon>volume_down</mat-icon>
        } @else {
          <mat-icon>volume_up</mat-icon>
        }
      </button>
      <mat-slider>
        <input #volume matSliderThumb>
      </mat-slider>
      <p>{{ volume.value }}%</p>
    </div>
  </footer>
</section>
<audio controls style="display: none" #htmlAudioElement>
  <source src="assets/audio.mp3" type="audio/mpeg">
</audio>
