section {
  display: flex;
  justify-content: center;
}

footer {
  background-color: aqua;
  border: solid lighten(aqua, 20%);
  border-radius: 2em;
  width: 60%;
  height: 60%;
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

p {
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center
}
